.home-background {
    width: 100%;
    height: auto;
    color: var(--white);
    background-image: url('../imgs/background.svg');
    background-repeat: no-repeat;
}

.home-background-panel {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-background-panel p {
    border-bottom: 2.5px solid var(--purple);
}

.home-background-panel-content {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-background-content {
    width: 70%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.home-background-content h1 {
    width: 85%;
    font-size: 4rem;
}

.home-background-content p {
    width: 80%;
    font-size: 1.4rem;
    color: var(--grey);
}

.home-chips {
    border-top: 2px solid var(--grey);
    margin: 50px 0px;
}

.home-chips-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.home-projects {
    margin: 100px 0px;
}

.home-projects-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    margin-bottom: 35px;
}

.home-projects-panel h1 {
    font-size: 3rem;
}

.home-projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

@media (max-width: 1150px) {
    .home-background {
        background-image: none;
    }
}

@media (max-width: 700px) {
    .home-background-panel {
        height: 60px;
    }

    .home-background-panel p {
        font-size: 1rem;
    }

    .home-background-content {
        height: 500px;
        width: 100%;
        align-items: center;
    }

    .home-background-content h1 {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }

    .home-background-content p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .home-chips {
        margin: 25px 0px;
    }

    .home-chips-content {
        grid-template-columns: 1fr;
        gap: 5px;
        margin-top: 25px;
    }

    .home-projects {
        margin: 25px 0px;
    }

    .home-projects-panel h1 {
        font-size: 1.5rem;
    }

    .home-projects-content {
        grid-template-columns: 1fr;
    }
}