.ui-footer {
    height: 500px;
    padding: 50px;
    background-color: var(--dark-grey);
}

.ui-footer-content {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.ui-footer-contact {
    width: 40%;
}

.ui-footer-contact h1 {
    font-size: 3rem;
    color: var(--white);
}

.ui-footer-contact p {
    color: var(--grey);
}

.ui-footer-form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.ui-footer-nav {
    color: var(--white);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-form {
    color: #fd3e3e;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.message-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #3aff5b;
}

@media (max-width: 700px) {
    .ui-footer {
        height: auto;
        padding: 15px;
    }

    .ui-footer-content {
        margin-bottom: 20px;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    .ui-footer-contact {
        width: 100%;
    }

    .ui-footer-contact h1 {
        font-size: 1.5rem;
        margin: 10px 0px;
    }

    .ui-footer-contact p {
        font-size: 0.9rem;
        margin-bottom: 25px;
    }

    .ui-footer-form {
        width: 100%;
    }

    .ui-footer-nav {
        height: 80px;
        text-align: center;
        font-size: 0.8rem;
    }
}