.card {
    min-height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.card:hover {
    transition: .3s;
    scale: 1.025;
    border: none;
    background-color: #000;
    box-shadow: rgba(73, 42, 148) 0px 10px 50px;
}

.card h1 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--gray-200);
    text-transform: uppercase;
}

.card p {
    font-size: 0.85rem;
    color: rgba(239, 237, 253, 0.6);
}

.card-icon {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}